{% extends 'productsapp/base.html' %}
{% load static %}

{% block content %}

    
    <div class="row justify-content-center my-3">
        <div class="col-10">
            {{ keyposts }}
            <form action="{% url 'update' %}" method="POST" >
                {% csrf_token %}
                <fieldset>
                    <legend>
                        Update Item Details
                    </legend>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="productName" 
                        name="name" value="{{ keyposts.name }}">
                      </div>
                      <div class="mb-3">
                        <label for="productSummary" class="form-label">Summary</label>
                        <textarea name="summary" id="content" cols="30" rows="10" class="form-control" >{{keyposts.summary}}</textarea>
                      </div>
                      <div class="mb-3">
                        <label for="productColor" class="form-label">Color</label>
                        <input type="text" class="form-control" id="productColor" 
                        name="color" value="{{ keyposts.color }}">
                    <div class="mb-3">
                        <label for="productSize" class="form-label">Size</label>
                        <input type="text" class="form-control" id="productSize" 
                            name="size" value="{{ keyposts.size }}">
                    <label for="productPrize" class="form-label">Price</label>
                        <input type="text" class="form-control" id="productPrize" 
                        name="prize" value="{{ keyposts.prize }}">
                      <input type="hidden" class="form-control" id="id" 
                        value="{{ keyposts.id }}" name="id">
                      <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
        
    </div>
{% endblock %}
