{% extends 'productsapp/base.html' %}
{% load static %}

{% block content %}
    {{rows}}
    <div class="maintable">
        <table class="table table-bordered table-info">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
            {% for categories in rows %}
                <tr>
                    <td>{{categories.cid}}</td>
                    <td>{{categories.cname}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{% url 'addcat' %}" class="btn btn-primary">ADD CATEGORIES</a>
        </div>
    </div>
{% endblock %}